.btn {
  relative();
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 2px solid transparent;
  font: 14px/16px $font-base;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  transform: translateZ(0);
  box-sizing: border-box;
  transition: all 0.3s;
  border-radius: 30px;

  {hover-focus-active} {
    text-decoration: none;
    outline: none;
  }

  &--big {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    width: 224px;

    @media $display-breakpoints.md-and-down {
      font-size: 14px;
      line-height: 18px;
      width: 186px;
    }
  }
  &--large {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 20px;
    width: 260px;
  }
  &--plain {
    size(1em);
    background: transparent;
    padding: 0;
    min-width: 0;
    border: 0;
    border-radius: 0;
  }
  &--plain-link {
    background: transparent;
    padding: 0;
    min-width: 0;
    border: 0;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    font: 500 10px/1 $font-base;
    letter-spacing: 0.01em;
    border-radius: 0;
  }

  &--circle {
    min-width: 44px;
    circle(44px);
    font-size: 22px;
    padding: 10px;

    .icon {
      font-size: 20px;
      display: block;
    }
  }

  // colors
  &--default {
    get-button-variant($white, $primary);
  }
  &--primary {
    get-button-variant(#00ACE7, $primary);
    box-shadow: 0px 2px 20px rgba(0, 172, 231, 0.5);
  }
  &--default-outline {
    get-button-outline-variant($white, $primary);
  }
  &--primary-outline {
    get-button-outline-variant($primary);
  }
}

.btn-menu,
.btn-close-menu {
  font-size: 40px;
  border: 0;
  padding: 7px;
  margin: -7px;
  color: $white;

  .icon {
    font-size: 25px;
  }
}

.btn-menu {
  transform: scaleX(1.3);
}

.btn-volume {
  &::after {
    content: '';
    display: block;
    absolute(-10%, 50%);
    size(2px, 120%);
    transform: rotate(-45deg);
    background: currentColor;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &.off::after {
    opacity: 1;
  }
}

.btn-share {
  size(2.5rem);
  padding: 12.5px;
  margin: -12.5px;
}