.modal {
  fixed(0px, 0px);
  size(100vw, 100%);
  z-index: 9;
  display: none;
  overflow-y: auto;
  .layout & {
    size(100%, 100vh);
    absolute();
  }

  &__window {
    width: 100%;
    max-width: 950px;
    background: $white;
    absolute(50%, 50%);
    transform: translate(-50%, -50%);
    max-height: 100vh;
    border-radius: 33px;
    display: none;

    ^[0]--small & {
      max-width: 620px;
    }
  }

  &__close {
    absolute(18px);
    right: 14px;
    z-index: 5;
    size(40px);
    padding: 12px;
    color: #062B4B;
    cursor: pointer;
  }

  &__inner {
    overflow-y: auto;
  }

  &__content {
    width: 100%;
    padding: 40px 60px 60px;
    @media $display-breakpoints.md-and-down {
      padding: 40px 60px;
    }
    ^[0]--video & {
      padding: 0;

      .video {
        overflow: hidden;
      }
    }
  }
}

.fullsize-popup {
  display: none;
  z-index: 9;
  absolute(0px, 0px);
  size(100%, 100vh);
}