$text-color = $black;
$link-color = $text-color;
$link-color--active = $link-color;

html, body {
  font-size: $font-size-base;
  line-height: 1.5;
  font-family: $font-base;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
  
  {hover-focus-active} {
    color: $link-color--active;
    outline: 0;
  }
}

.link-back {
  font: 14px/1 $font-util;
  
  a {
    text-decoration: underline;
    color: $secondary;

    {hover-focus-active} {
      color: $primary;
    }
  }
}

.tp-heading {
  &--larger {
    font: bold 60px $font-base;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media $display-breakpoints.md-and-down {
      font-size: 42px;
    }
    @media $msWidthLand {
      font-size: 6.8vh;
    }
    @media $msWidthPort {
      font-size: 28px;
    }
  }
  &--large {
    font: bold 46px $font-base;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media $display-breakpoints.lg-and-down {
      font-size: vw(46);
    }
    @media $display-breakpoints.md-and-down {
      font-size: 32px;
    }
  }
  &--big {
    font: bold 42px $font-base;
    text-transform: uppercase;

    @media $display-breakpoints.lg-and-down {
      font-size: vw(42);
    }
  }
  &--medium-2 {
    font: bold 36px $font-base;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media $display-breakpoints.lg-and-down {
      font-size: vw(36);
    }
    @media $display-breakpoints.md-and-down {
      font-size: 18px;
    }
  }
  &--medium {
    font: bold 32px $font-base;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media $display-breakpoints.lg-and-down {
      font-size: vw(32);
    }
    @media $display-breakpoints.md-and-down {
      font-size: 16px;
    }
  }
  &--small {
    font: bold 24px $font-base;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media $display-breakpoints.md-and-down {
      font-size: 21px;
    }
    @media $msWidthLand {
      font-size: 3.4vh;
    }
    @media $msWidthPort {
      font-size: 14px;
    }
  }
  &--smaller {
    font: bold 21px $font-base;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @media $display-breakpoints.md-and-down {
      font-size: 16px;
    }
    @media $msWidthLand {
      font-size: 2.6vh;
    }
    @media $msWidthPort {
      font-size: 14px;
    }
  }
}
.tp-body {
  &--big {
    font: 21px $font-base;
    letter-spacing: 0.05em;

    @media $display-breakpoints.lg-and-down {
      font-size: vw(21);
    }

    @media $display-breakpoints.md-and-down {
      font-size: 18px;
    }
    @media $display-breakpoints.sm-and-down {
      font-size: 16px;
    }
    @media $msWidthLand {
      font-size: 2.6vh;
    }
    @media $msWidthPort {
      font-size: 14px;
    }
  }
  &--medium {
    font: 20px/1.43 $font-util;

    @media $display-breakpoints.lg-and-down {
      //font-size: vw(20);
    }
    @media $display-breakpoints.md-and-down {
      font-size: 16px;
    }
  }
  &--base {
    font: 1rem/1.5 $font-base;

    @media $display-breakpoints.lg-and-down {
      font-size: vw(16);
    }
    @media $display-breakpoints.md-and-down {
      font-size: 14px;
    }
  }
  &--small {
    font-size: 14px;

    @media $display-breakpoints.lg-and-down {
      font-size: vw(14);
    }
    @media $display-breakpoints.md-and-down {
      font-size: 11px;
    }
  }
  &--smaller {
    font-size: 13px;
  }
}
b, strong {
  font: inherit;
  font-weight: bolder;
}
.tp-text {
  for $align in (left right center) {
    &--{$align} {
      text-align: $align;
    }
  }
  &--light {
    opacity: 0.8;
  }
  &--lighter {
    opacity: 0.6;
  }
  &--lightest {
    opacity: 0.5;
  }
  &--upper {
    text-transform: uppercase;
  }
  &--lower {
    text-transform: lowercase;
  }
  &--truncate {
    truncate();
  }
  &--nowrp {
    white-space: nowrap;
  }
}

p {
  margin: 1em 0;
  no-childs-margin();
}

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}

.btn {
  display: inline-block;
  font: 14px/1 $font-accent;
  text-transform: uppercase;
  text-align: center;
  padding: 0.75rem 1.5rem;
  border: 1px solid;
  transition: all 0.3s;
  box-sizing: border-box;

  &--primary {
    background: $white;
    color: $primary;
    border-color: $white;

    {hover-focus-active} {
      background: transparent;
      color: $white;
    }
  }

  &--outline {
    background: transparent;
    color: $white;

    {hover-focus-active} {
      background: $white;
      color: $primary;
    }
  }
}