.competition {
  align-items: flex-end;
  height: 100vh;

  @media $display-breakpoints.sm-and-down {
    height: auto;
    min-height: 100vh;
  }
  
  &__bg {
    background: url('../img/hero.png') top center no-repeat;
    background-size: contain;

    @media $display-breakpoints.sm-and-down {
      background: url('../img/hero-sm.png') top center no-repeat;
      background-size: contain;
    }
  }
  .section {
    &__content,
    &__popup {
      max-width: 900px;
      padding: 46px 20px 90px;
      background: url('../img/content-lg.png') top center no-repeat;
      background-size: cover;
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
      transform: translateY(100%);
      transition: transform 0.5s, opacity 0.3s 0.5s, z-index 0.1s 0.5s;
      opacity: 0;
      z-index: -9;

      &.active {
        transform: translateY(0%);
        opacity: 1;
        z-index: 2;
        transition: transform 0.5s, opacity 0.3s, z-index 0.1s;
      }

      @media $display-breakpoints.lg-and-down {
        max-width: vw(1160);
      }
      @media $display-breakpoints.md-and-down {
        max-width: 900px;
        padding: 30px 20px 70px;
      }
      @media $display-breakpoints.sm-and-down {
        border-radius: 0;
        transform: translateY(0);
        padding: vmin(30, 320) vmin(20, 320) vmin(70, 320);
      }
    }
    &__content {
      @media $display-breakpoints.sm-and-down {
        margin-top: vmin(200, 320);
      }
    }
    &__text {
      max-width: 550px;
      @media $display-breakpoints.lg-and-down {
        max-width: vw(550);
      }
      @media $display-breakpoints.md-and-down {
        max-width: 450px;
      }
    }
    &__heading {
      @media $display-breakpoints.sm-and-down {
        font-size: vmin(24, 320);
      }
    }
    &__btn {
      .btn--large {
        padding-right: 32px;
        padding-left: 32px;

        @media $display-breakpoints.sm-and-down {
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }
    }
    &__popup {
      absolute(0, 50%, 0px);
      width: 80%;
      padding: 0;
      transform: translate(-50%, 100%);
      transition: transform 0.5s, opacity 0.3s 0.5s, z-index 0.1s 0.5s;
      opacity: 0;
      z-index: -9;

      @media $display-breakpoints.sm-and-down {
        width: 100%;
        left: 0;
        transform: translate(100%, 0);
      }

      &.action-popup {
        @media $display-breakpoints.sm-and-down {
          background: $white;
        }
      }

      &.code-popup {
        padding: 40px 20px 60px;
        background: url('../img/content-big.png') top center no-repeat;
        background-size: cover;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;

        @media $display-breakpoints.md-and-down {
          padding: vw(30, 1024) 20px;
        }
        @media $display-breakpoints.sm-and-down {
          padding: vw(20, 320) vmin(20, 320) vmin(40, 320);
          border-radius: 0;
          background-image: url('../img/content-big-sm.png');
        }
      }

      &.active {
        transform: translate(-50%, 0%);
        opacity: 1;
        z-index: 2;
        transition: transform 0.5s, opacity 0.3s, z-index 0.1s;

        @media $display-breakpoints.sm-and-down {
          transform: translate(0, 0);
        }
      }
    }
  }
}

.action-popup {
  flexy(center, stretch);

  @media $display-breakpoints.sm-and-down {
    display: block;
    overflow-y: auto;

    .competition & {
      fixed(0px, 0px);
      height: 100vh;
    }
  }

  &__header {
    padding: vmin(20, 320);
    flexy(space-between, center);
  }
  &__close {
    margin: vmin(-10, 320) (vmin(-10, 320));
    margin-left: auto;
  }

  &__auth,
  &__plug {
    flex: 0 0 50%;
    padding: 60px 20px;

    @media $display-breakpoints.sm-and-down {
      flex: 0 0 100%;
      padding: vmin(50, 320) vmin(20, 320) vmin(70, 320);
    }
  }

  &__auth {
    border-top-left-radius: inherit;
    background: $white;
    color: #062B4B;
  }
  &__plug {
    border-top-right-radius: inherit;

    @media $display-breakpoints.sm-and-down {
      background: url('../img/content-sm.png') center no-repeat;
      background-size: cover;
    }
  }
}

.auth {
  &__heading {
    max-width: 240px;
    margin: 0 auto 30px;

    @media $display-breakpoints.sm-and-down {
      font-size: vmin(24, 320);
      margin-bottom: vmin(20, 320);
      max-width: 100%;
    }
  }
  &__list {
    flexy(center, center);
    line-height: 1;
  }
  &__link {
    relative();
    display: block;
    line-height: 1;
    flex: 0 0 64px;
    circle(64px);
    padding: 16px;
    margin: 0 7px;
    box-sizing: border-box;
    color: $white;

    @media $display-breakpoints.sm-and-down {
      flex: 0 0 vmin(50, 320);
      size(vmin(50, 320));
      padding: vmin(15, 320);
    }

    {hover-focus-active} {
      color: $white;
    }

    .icon {
      display: block;
      size(100%);
    }

    &--fb {
      background: linear-gradient(146.03deg, #5688DD 0%, rgba(86, 136, 221, 0) 86.87%), #3E5D9F;
    }
    &--vk {
      background: linear-gradient(146.03deg, #87BBF6 0%, rgba(135, 187, 246, 0) 86.87%), #5181B8;
    }
  }
}
.plug {
  &__heading {
    max-width: 240px;
    margin: 0 auto 50px;

    @media $display-breakpoints.sm-and-down {
      font-size: vmin(24, 320);
      margin-bottom: vmin(20, 320);
      max-width: 100%;
    }
  }
}

.code {

  &__img {
    max-width: 170px;
    margin: 0 auto 10px;

    @media $display-breakpoints.md-and-down {
      max-width: vmin(130, 1024);
    }
    @media $display-breakpoints.sm-and-down {
      max-width: vmin(100, 320);
    }

    img {
      display: block;
      width: 100%;
    }
  }
  
  &__desc {
    margin: 30px auto 10px;

    @media $display-breakpoints.md-and-down {
      margin: 20px auto 10px;
    }
  }

  &__share {
    margin: 10px auto;
  }

  &__note {
    margin: 10px auto;
  }

  &__promocode {
    width: 255px;
    margin: 30px auto 40px;
    padding: 20px;
    font: bold 28px/1 $font-base;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    text-align center;
    background: $primary-alt;
    color: $white;
    box-shadow: 0px 0px 40px rgba(0, 178, 243, 0.5);

    @media $display-breakpoints.md-and-down {
      font-size: vw(22, 1024);
      width: vw(200, 1024);
      padding: vw(16, 1024);
      margin: 20px auto 30px;
    }

    @media $display-breakpoints.sm-and-down {
      font-size: vmin(22, 320);
      width: vmin(180, 320);
      padding: vmin(13, 320) vmin(16, 320);
      margin: vmin(20, 320) auto vmin(30, 320);
    }

    &::before {
      content: '';
      display: block;
      absolute(-1px, -10px, -1px, -10px);
      background: url('../img/substract.svg') center no-repeat;
      background-size: contain;

      @media $display-breakpoints.sm-and-down {
        left: vmin(-10, 320);
        right: vmin(-10, 320);
      }
    }
  }
}