.section {
  min-height: 100vh;

  @media $display-breakpoints.sm-and-down {
    height: auto!important;
    min-height: 0;
  }

  &__main {
    size(100%);
    flexy(center, center);
  }

  &__bg {
    absolute(0px, 0px);
    size(100%);
  }

  &__heading {
    margin-bottom: 1rem;
  }
  &__content {
    width: 80%;

    @media $display-breakpoints.sm-and-down {
      width: 100%;
      padding: 0 vmin(20, 320);
    }
  }
  &__text {
    margin: 1rem auto 3rem;
    max-width: 580px;
  }
}

@import './competition.styl';
@import './rates.styl';
@import './prizes.styl';
@import './winners.styl';