.section {
  height: 100vh;

  &__main {
    size(100%);
    flexy(center, center);
  }

  &__bg {
    absolute(0px, 0px);
    size(100%);
  }

  &__heading {
    margin-bottom: 1rem;
  }
  &__content {
    width: 80%;
  }
  &__text {
    margin: 1rem auto 3rem;
    max-width: 580px;
  }
}

@import './competition.styl';
@import './rates.styl';
@import './prizes.styl';
@import './winners.styl';