.masks {
  
  &::before,
  &::after {
    content: '';
    display: block;
    size(100vw, 100%);
    absolute(0px, 50%);
    transform: translateX(-50%);
  }
  &::before {
    background: linear-gradient(59.45deg, #2F2E66 5.29%, rgba(47, 46, 102, 0) 73.41%), radial-gradient(563.68px at 84.31% 73.88%, #9D13C0 0%, rgba(123, 16, 169, 0) 100%), linear-gradient(164.74deg, #00B2F3 -19.13%, rgba(47, 46, 103, 0) 47.97%), #48469D;
    z-index: 0;
  }
  &::after {
    background: url('../img/bg-masks.png') center no-repeat;
    background-size: cover;
    z-index: 1;
  }
  &__list {
    flexy(center, flex-start);

    @media $display-breakpoints.sm-and-down {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 0 0 20%;
    // ie11 fix
    max-width: 20%;

    @media $display-breakpoints.md-and-up {
      &:nth-child(6) {
        display: none;
      }
    }
    @media $display-breakpoints.sm-and-down {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .section {
    &__content {
      width: 100%;
      z-index: 2;

      @media $display-breakpoints.xl-only {
        width: 90%;
      }
      @media $display-breakpoints.sm-and-down {
        height: 100%;
        overflow: auto;
        padding-top: vmin(60, 320);
        padding-bottom: vmin(40, 320);
      }
    }
    &__img {
      max-width: 170px;
      margin: 0 auto 20px;

      @media $display-breakpoints.md-and-down {
        max-width: vmin(130, 1024);
      }
      @media $display-breakpoints.sm-and-down {
        max-width: vmin(100, 320);
        margin-bottom: vmin(20, 320);
      }

      img {
        display: block;
        width: 100%;
      }
    }
    &__text {
      margin-bottom: vmin(40, 950);
    }
  }
}

.mask {
  padding: 0 24px;

  @media $display-breakpoints.sm-and-down {
    padding: 0 vmin(24, 320);
    margin: 0 0 vmin(30, 320);
  }

  &__img {
    flexy(center);
    max-width: 100%;
    //height: vmin(313, 950)
    margin: 0 auto vmin(40, 950);

    @media $display-breakpoints.md-and-down {
      margin-bottom: vmin(20, 320);
    }
    @media $display-breakpoints.sm-and-down {
      margin-bottom: vmin(20, 320);
      //size(100%, auto);
    }

    img {
      display: block;
      size(100%, auto);
      margin: auto;
      transform: scale(0.78);
      transform-origin: center;
      transition: transform 0.5s;

      ^[0]:hover & {
        transform: scale(1);
      }
    }
  }

  &__links {
    flexy(center, center);
  }
  &__link {
    flex: 0 0 vmin(64, 950);
    color: $white;
    relative();
    margin: 0 7px;

    @media $display-breakpoints.md-and-down {
      flex-basis: 50px;
    }
    @media $display-breakpoints.sm-and-down {
      flex-basis: vmin(30, 320);
    }

    &:hover {
      color: $white;
    }
  }

  &__icon {
    circle(vmin(64, 950));
    flexy(center, center);
    border: 2px solid $white;
    padding: vmin(16, 950);
    transition: all 0.3s;
    background url('../img/circle-gradient.svg') center no-repeat;
    background-size: vmin(64, 950);

    @media $display-breakpoints.md-and-down {
      size(50px);
      background-size: 50px;
    }
    @media $display-breakpoints.sm-and-down {
      size(vmin(30, 320));
      padding: vmin(8, 320);
      background-size: vmin(30, 320);
      font-size: vmin(14, 320);
    }

    ^[0]__link:hover & {
      border-color: transparent;
      box-shadow: 0px 0px 10px rgba(0, 178, 243, 0.15);
    }
  }
  &__tooltip {
    absolute(100%, 50%);
    text-align: center;
    padding-top: 10px;
    font: 14px $font-base;
    letter-spacing: 0.005;
    transform: translateX(-50%) translateZ(0);
    opacity: 0;
    transition: opacity 0.3s;

    @media $display-breakpoints.sm-and-down {
      display: none;
    }

    ^[0]__link:hover & {
      opacity: 1;
    }
  }
}