.winners {
  padding: 60px 0 108px;

  @media $display-breakpoints.lg-and-down {
    padding: vw(60) 0 vw(108);
  }
  @media $display-breakpoints.md-and-down {
    padding: 60px 0 80px;
  }
  @media $display-breakpoints.sm-and-down {
    padding: vmin(20) 0 vmin(153, 320);
  }
  .section {
    &__content {
      max-size(1000px, 100%);
      flexy(flex-start, center);
      flex-direction: column;
      @media $display-breakpoints.sm-and-down {
        padding: 0;
      }
    }
    &__heading {
      flex: 0 0 auto;
    }
    &__text {
      max-width: 740px;
      flex: 0 0 auto;
    }
  }
  &__list {
    flex: 0 1 auto;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    display: flex;
  }
}

.winners-table {
  flexy(flex-start, flex-start);
  flex-direction: column;
  width: 100%;
  min-height: 0;
  max-height: 100%;
  overflow: hidden;

  &__head,
  &__row {
    flexy(flex-start, stretch);
  }
  &__head {
    flex: 0 0 auto;
    font: 400 18px $font-base;
    letter-spacing: 0.05em;
    width: 100%;
    background: linear-gradient(12.59deg, #2F2E66 5.29%, rgba(47, 46, 102, 0) 73.41%), radial-gradient(151.52px at 87.01% 116.58%, #9D13C0 0%, rgba(123, 16, 169, 0) 100%), linear-gradient(177.94deg, #00B2F3 -19.13%, rgba(47, 46, 103, 0) 47.97%), #48469D;

    @media $display-breakpoints.sm-and-down {
      font-size: vmin(16, 320);
    }

    .icon {
      opacity: 0.3;
      font-size: 12px;

      @media $display-breakpoints.sm-and-down {
        font-size: vmin(12, 320);
      }
    }
  }
  &__body {
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 0;
    overflow: hidden;
    background: #052540;

    @media $display-breakpoints.sm-and-down {
      height: vmin(360, 320);
      max-height: initial;
    }
  }
  &__col {
    &:first-child {
      flex: 0 0 29%;
      // ie11 fix
      max-width: 29%;
      // - 

      @media $display-breakpoints.sm-and-down {
        order: 2;
        flex: 0 0 vmin(50, 320);
        max-width: vmin(50, 320);
      }
    }
    &:last-child {
      flex: 1 1 auto;
    }
  }
  &__head &__col {
    padding: 20px 40px;

    @media $display-breakpoints.lg-and-down {
      padding: vw(20) vw(40);
    }
    @media $display-breakpoints.md-and-down {
      padding: 18px 30px;
    }
    @media $display-breakpoints.sm-and-down {
      padding: vmin(15, 320) vmin(20, 320);

      &:first-child {
        flex-basis: vmin(60, 320);
        padding-left: 0;
      }
    }
  }
  &__body &__col {
    padding: 15px 40px;

    @media $display-breakpoints.lg-and-down {
      padding: vw(15) vw(40);
    }
    @media $display-breakpoints.md-and-down {
      padding: 18px 30px;
    }
    @media $display-breakpoints.sm-and-down {
      padding: vmin(15, 320) vmin(20, 320);

      &:last-child {
        padding-right: 0;
      }
    }
  }
  &__body &__row {
    border-bottom 1px solid rgba($white, 0.2);
  }
}

.usr {
  flexy(flex-start, center);

  &__img {
    flex: 0 0 40px;
    circle(40px);
    margin-right: 20px;

    @media $display-breakpoints.lg-and-down {
      size(vw(40));
      flex-basis: vw(40);
    }
    @media $display-breakpoints.md-and-down {
      size(30px);
      flex-basis: 30px;
    }
    @media $display-breakpoints.sm-and-down {
      flex-basis: vmin(30, 320);
      size(vmin(30, 320));
      margin-right: vmin(10, 320);
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__name {
    flex: 1 1 auto;

    .tp-body--base {
      letter-spacing: 0.05em;

      @media $display-breakpoints.sm-and-down {
        font-size: vmin(12, 320);
      }
    }
  }
}