include ../mixins
.header
  .l-container
    .header__content
      .header__logo.header__logo--elle
        +icon('elle')
      .header__logo.header__logo--cavalli
        a(href=text.link, target="_blank"): img.img(src="../build/img/logo-cavalli.png", alt="Roberto Cavalli")
    .header__text специальный проект