- var sec = content.sections.competition
.competition.section__main
  .section__bg.competition__bg
  .section__content.tp-text--center
    .section__heading.tp-heading--large.glitch !{sec.heading}
    .section__text.tp-body--big !{sec.desc}
    .section__btn
      a.btn.btn--big.btn--default-outline(href="#") !{sec.btn}