
<div class="competition section__main">
  <div class="section__bg competition__bg"></div>
  <div class="section__content tp-text--center">
    <div class="section__heading tp-heading--large glitch">Конкурс</div>
    <div class="section__text tp-body--big">Узнай какой ты&nbsp;крутой в&nbsp;рандомайзере <b>МГТС</b> и&nbsp;получи шанс выиграть год интернета <b>БЕСПЛАТНО</b></div>
    <div class="section__btn"><a class="btn btn--big btn--default-outline" href="#">я крутой, как</a></div>
  </div>
</div>