
<div class="prizes section__main">
  <div class="section__content tp-text--center">
    <div class="section__heading tp-heading--large glitch">Узнай, какой ты&nbsp;крутой и&nbsp;получи шанс выиграть приз</div>
    <div class="section__text tp-body--big">Что&nbsp;бы ни&nbsp;выдал тебе рандомайзер&nbsp;&mdash; ты&nbsp;крутой и&nbsp;получишь гарантированный приз. Главное&nbsp;&mdash; делись в&nbsp;соцсети, чтобы все знали, какой ты&nbsp;крутой.</div>
    <div class="prizes__list">
      <div class="prizes__item prize">
        <div class="prize__img"><img src="build/img/router.png" title="Год интернета &lt;br/&gt;500&amp;nbsp;мбит/с бесплатно"/></div>
        <div class="prize__title tp-body--big"><b>Год интернета <br/>500&nbsp;мбит/с бесплатно</b></div>
        <div class="prize__quan tp-body--big"><span>Количество&nbsp;</span><b>100шт</b></div>
      </div>
      <div class="prizes__item prize">
        <div class="prize__img"><img src="build/img/mask.png" title="Набор крутых масок от&lt;br/&gt;МГТС для твоих соцсетей"/></div>
        <div class="prize__title tp-body--big"><b>Набор крутых масок от<br/>МГТС для твоих соцсетей</b></div>
        <div class="prize__quan tp-body--big"><span>Количество&nbsp;</span><b>не ограничено</b></div>
      </div>
    </div>
  </div>
</div>