
<div class="rates section__main">
  <div class="section__content">
    <div class="section__heading tp-heading--large glitch tp-text--center">Выбери свой тариф</div>
    <div class="rates__list">
      <div class="rates__item rate-card">
        <div class="rate-card__title tp-heading--medium">Тариф &laquo;Крутой&raquo;</div>
        <div class="rate-card__info">
          <div class="rate-card__desc">
            <div class="desc">Домашний Интернет</div>
            <div class="speed">500&nbsp;Мбит/с</div>
          </div>
          <div class="rate-card__price">
            <div class="price">500</div>
            <div class="cur">₽</div>
            <div class="per">мес</div>
          </div>
        </div>
        <div class="rate-card__btn">
          <button class="btn btn--big btn--default-outline">Подключить</button>
        </div>
      </div>
      <div class="rates__item rate-card">
        <div class="rate-card__title tp-heading--medium">Тариф &laquo;Суперкрутой&raquo;</div>
        <div class="rate-card__info">
          <div class="rate-card__desc">
            <div class="desc">Домашний Интернет</div>
            <div class="speed">500&nbsp;Мбит/с</div>
            <div class="option">+ Цифровое&nbsp;ТВ</div>
          </div>
          <div class="rate-card__price">
            <div class="price">555</div>
            <div class="cur">₽</div>
            <div class="per">мес</div>
          </div>
        </div>
        <div class="rate-card__btn">
          <button class="btn btn--big btn--default-outline">Подключить</button>
        </div>
      </div>
    </div>
    <div class="section__note tp-body--small tp-text--upper">Предложение действует с&nbsp;26.02.2019 по&nbsp;31.05.2019 для новых абонентов услуги &laquo;Домашний Интернет&raquo; и/или пакета услуг &laquo;Домашний Интернет + Цифровое&nbsp;ТВ&raquo; г. Москвы и&nbsp;Московской области при наличии технической возможности. Указанная стоимость пакета услуг &laquo;Домашний Интернет + Цифровое&nbsp;ТВ&raquo; действует с&nbsp;момента подключения по&nbsp;31.08.2019, далее она составит 675 руб./мес. Заявленная скорость интернета гарантируется при подключении через проводное соединение. Скорость по&nbsp;Wi-Fi зависит от&nbsp;количества и&nbsp;расположения клиентских устройств, а&nbsp;также от&nbsp;конфигурации помещения. Цены указаны с&nbsp;НДС. Подробнее&nbsp;&mdash; на&nbsp;mgts.&nbsp;ru&nbsp;или по&nbsp;тел.&nbsp;8&nbsp;495 636-0-636</div>
  </div>
</div>