.footer {
  fixed(0, 0px);
  bottom: -100%;
  padding: 32px 100px 36px;
  z-index: 99;
  background: $black;
  color: $white;
  width: 100%;
  transition: bottom 0.7s;

  @media $display-breakpoints.lg-and-down {
    padding: vw(32) vw(100) vw(36);
  }
  @media $display-breakpoints.md-and-down {
    padding: 24px 80px;
  }
  @media $display-breakpoints.sm-and-down {
    padding: vmin(16, 320) vmin(20, 320);
  }

  .fp-viewing-winners & {
    bottom: 0;
  }

  .layout--dummy & {
    display: none;
  }

  @media $port {
    padding: 7vw 0;
  }

  &__content {
    flexy(space-between, center);

    @media $display-breakpoints.sm-and-down {
      display: block;
    }
  }

  &__note {
    flex: 0 0 450px;

    @media $display-breakpoints.lg-and-down {
      flex-basis: vw(450);
    }
    @media $display-breakpoints.md-and-down {
      flex-basis: 350px;
      margin-right: 32px;
    }
    @media $display-breakpoints.sm-and-down {
      font-size: vmin(12, 320);
    }

    a {
      color: #00ACE7;
      text-decoration: underline;
    }
  }

  &__socials {
    flexy(flex-end, center);
    flex: 0 0 450px;

    @media $display-breakpoints.lg-and-down {
      flex: 0 1 vw(450);
    }
    @media $display-breakpoints.sm-and-down {
      justify-content: flex-start;
      margin: vmin(10, 320) 0 0;
    }

    .social {
      color: $white;
      circle(40px);
      border: 2px solid currentColor;
      flexy(center, center);
      line-height: 1;
      margin-left: 20px;
      padding: 8px;
      box-sizing: border-box;

      @media $display-breakpoints.lg-and-down {
        size(vw(40));
        padding: vw(8);
        margin-left: vw(20);
      }
      @media $display-breakpoints.md-and-down {
        size(30px);
        padding: 6px;
        margin-left: 10px;
      }
      @media $display-breakpoints.sm-and-down {
        &:first-child {
          margin-left: 0;
        }
      }

      .icon {
        display: block;
        size(100%);
      }
    }
  }

  &__documents {
    flexy(center, center);

    @media $display-breakpoints.md-and-down {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    @media $display-breakpoints.sm-and-down {
      display: block;
    }

    .document {
      font-weight: bold;
      color: #00ACE7;
      text-transform: uppercase;
      text-decoration: underline;
      margin: 0 15px;

      @media $display-breakpoints.lg-and-down {
        margin: 0 vw(15);
      }
      @media $display-breakpoints.md-and-down {
        margin: 0;
      }
      @media $display-breakpoints.sm-and-down {
        margin: vmin(10, 320) 0;
        margin-right: vmin(20, 320);
        white-space nowrap;
      }
    }
  }

}