.header {
	absolute(0px, 0px);
	width: 100%;
	z-index: 20;
	background: transparent;
	color: $white;

	a {
		color: inherit;
	}

	&__content {
		flexy(space-between, center);
		padding: 30px 0;

		.layout--home & {
			padding-left: 230px;
			padding-right: 100px;

			@media $display-breakpoints.lg-and-down {
				padding: vw(30) vw(100) vw(30) vw(230);
			}
			@media $display-breakpoints.md-and-down {
				padding: vw(14, 1024) vw(80, 1024) vw(14, 1024) vw(170, 1024);
			}
			@media $display-breakpoints.sm-and-down {
				padding: 0;
			}
		}
	}

	&__logo {
		fixed(0px, 0px);
		padding: 27px 25px;
		background: $primary;
		color: $white;

		@media $display-breakpoints.lg-and-down {
			padding: vw(27) vw(25);
		}
		@media $display-breakpoints.md-and-down {
			padding: vw(16, 1024) 20px;
		}
		@media $display-breakpoints.sm-and-down {
			padding: vmin(20, 320);
			background: transparent;
			left: auto;
			right: 0;

			.popup-opened &,
			.modal-opened & {
				opacity: 0;
				pointer-events: none;
			}
		}
		
		.icon {
			size(172px, 50px);

			@media $display-breakpoints.lg-and-down {
				size(vw(172), vw(50));
			}
			@media $display-breakpoints.md-and-down {
				size(vw(140, 1024), vw(40, 1024));
			}
			@media $display-breakpoints.sm-and-down {
				size(vmin(74, 320), vmin(23, 320));
			}
		}

		.text {
			font: 14px/1 $font-base;
			letter-spacing: 0.05em;
			white-space: nowrap;
			margin-top: 0.5em;

			@media $display-breakpoints.lg-and-down {
				font-size: vw(14);
			}
			@media $display-breakpoints.md-and-down {
				font-size: 11px;
			}
			@media $display-breakpoints.sm-and-down {
				display: none;
			}
		}
	}

	&__btn {
		.btn {
			@media $display-breakpoints.lg-and-down {
				font-size: vw(14);
				line-height: vw(16);
				padding: vw(12) vw(20);
			}
			@media $display-breakpoints.md-and-down {
				font-size: vw(14, 1024);
				line-height: vw(16, 1024);
				padding: vw(12, 1024) vw(20, 1024);
			}
		}
	}


	&__tel {
		// ie11 fix
		margin-left: 0;
		margin-right: auto;
		// -

		.text {
			margin-left: 0.25em;
			line-height: 1.2;

			@media $display-breakpoints.lg-and-down {
				font-size: vw(21);
			}
			@media $display-breakpoints.md-and-down {
				font-size: vw(21, 1024);
			}
		}
	}

	.layout--dummy & {
		&__menu,
		&__tel,
		&__btn {
			display: none;
		}
	}
}