.main-menu {
  display: none;
  fixed(0px, 0px);
  size(100%);
  z-index: 9;
  background: url('../img/menu-bg.png') top center no-repeat;
  background-size: cover;

  &__content {
    size(100%);
    padding: vmin(60, 320) vmin(40, 320) vmin(30, 320);
    overflow-y: auto;
  }

  &__nav {
    margin: vmin(20, 320) vmin(-40, 320);
  }

  &__tel {
    margin: vmin(10, 320) 0;
    .tel-link {
      font: bold vmin(21, 320)/1 $font-base;
      color: $white;

      {hover-focus-active} {
        color: $white;
        outline: none;
      }
    }
  }
  &__docs {
    margin: vmin(10, 320)0;

    .docs {
      &__item {
        margin: vmin(10, 320) 0;
      }
      &__link {
        font: bold vmin(12, 320) $font-base;
        text-decoration: underline;
        text-transform: uppercase;
        color: $primary-alt;
        

        {hover-focus-active} {
          color: $primary;
        }
      }
    }
  }
  &__note {
    font: vmin(11, 320) $font-base;
    margin: vmin(20, 320) 0;

    a {
      color: $primary-alt;
    }
  }

  &__socials {
    margin-top: vmin(30, 320);
    .socials {
      &__list {
        flexy(flex-start, center);
      }
      &__link {
        display: block;
        circle(vmin(30, 320));
        border: 2px solid currentColor;
        color: $white;
        padding: vmin(4, 320);
        box-sizing: border-box;
        margin-right: vmin(20, 320);

        .icon {
          display: block;
          size(100%);
        }
      }
    }
  }
}

.nav {

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    display: block;
    padding: 0;
    margin: 0;
  }
  &__link {
    display: block;
    font: vmin(22, 320)/1 $font-accent;
    text-transform: uppercase;
    color: $white;
    padding: vmin(15, 320) vmin(40, 320);
    border-left: 5px solid transparent;
    transition: all 0.3s;

    {hover-focus-active} {
      color: $white;
    }

    &.active {
      color: $white;
      background: rgba(0, 178, 243, 0.15);
      border-color: $primary-alt;
    }
  }
}

.btn-menu {
  fixed(0px, 0px);
  size(vmin(60, 320));
  z-index: 99;
  background: rgba(0, 0, 0, 0.25);
  padding: vmin(20, 320);
  font-size: vmin(20, 320);
  color: $white;
  transition: background 0.3s;
  line-height: 1;

  .popup-opened &,
  .modal-opened & {
    background: #011F39;
  }

  .icon {
    display: block;
    size(1em);
  }

  .close {
    display: none;
  }

  &.opened {
    .open {
      display: none;
    }
    .close {
      display: block;
    }
  }
}