.order-form {
  color: #062B4B;

  &__heading {
    margin-bottom: 20px;
  }
  &__desc {
    max-width: 500px;
    margin: 20px auto;
    font: 16px $font-base;
    letter-spacing: 0.03em;
  }
  &__note {
    max-width: 520px;
    margin: 20px auto 34px;
    color: #808F9C;
    font: 14px $font-base;

    a {
      color: $primary;
    }
  }
}