.fullpage {
  .modal-opened & {
    filter: blur(5px);
  }
}
.fp-section.fp-table {
  display: block;
}
.fp-tableCell {
  flexy(center, center);
  @media $display-breakpoints.md-and-up {
    overflow: hidden;
  }
  @media $display-breakpoints.sm-and-down {
    height: auto!important;
  }
}
.fullpage-menu {
  fixed(0px, 0px);
  size(100px, 100%);
  z-index: 15;
  background: rgba(0, 0, 0, 0.15);

  @media $display-breakpoints.lg-and-down {
    width: vw(100);
  }
  @media $display-breakpoints.md-and-down {
    width: 80px;
  }

  &__inner {
    absolute(100%, 0px);
    size(100vh, 100px);
    transform: rotate(-90deg);
    transform-origin: top left;
    flexy(center, center);
    flex-direction: row-reverse;
    padding: 0 110px;

    @media $display-breakpoints.lg-and-down {
      height: vw(100);
      padding: 0 vw(110);
    }
    @media $display-breakpoints.md-and-down {
      height: 80px;
      padding: 0 95px;
    }
  }

  &__link {
    flexy(center, center);
    height: 100%;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
    font: 24px/1 $font-base;
    text-transform: uppercase;
    color: $white;
    padding: 15px 20px;
    transform: translateZ(0);

    @media $display-breakpoints.lg-and-down {
      font-size: vw(24);
      padding: vw(15) vw(20);
      border-bottom-width: vw(5);
    }
    @media $display-breakpoints.md-and-down {
      font-size: 21px;
      padding: 15px 20px;
      border-bottom-width: 5px;
    }

    &:focus {
      color: $white;
    }

    &:hover,
    &:active {
      color: $primary-alt;
    }
    &.active {
      color: $primary-alt;
      background: rgba($primary-alt, 0.15);
      border-bottom-color: currentColor;
    }
  }
}
#fp-nav {
  top: 0;
  margin-top: 0;
  z-index: 15;
}
.fullpage-nav {
  fixed(0px);
  right: 0;
  size(100px, 100%);
  background: rgba(0, 0, 0, 0.15);
  flexy(center, center);

  @media $display-breakpoints.lg-and-down {
    width: vw(100);
  }
  @media $display-breakpoints.md-and-down {
    width: 80px;
  }

  &__inner {
    
  }

  &__link {
    display: block;
    font-size: 15px;
    circle(1em);
    color: $white;
    margin: 1em;
    background: currentColor;
    transition: transform 0.3s;
    transform: scale(0.5);
    transform-origin: center;

    {hover-focus-active} {
      color: $white;
      outline: none;
    }
    &.active {
      color: $primary-alt;
      transform: scale(1);
    }
  }
}
