include ../mixins
.header
  .l-container
    .header__content
      .header__logo.header__logo--main
        +icon('logo-mgts')
        .text !{company.logo.text}
      .header__menu.l-hidden
        .btn-menu
          div
          div
          div
        //- +navMenu(menu)
      .header__tel
        a.tel-link(href=company.tel.value)
          +icon('phone')
          b.text.tp-text--big !{company.tel.title}
      .header__btn
        a.btn.btn--primary(href="#rates") подключить крутой тариф
