include ../mixins
.header
  .l-container
    .header__content
      .header__logo.header__logo--main
        +icon('logo-mgts')
        .text cамый быстрый в Москве
      .header__menu
        .btn-menu
          div
          div
          div
        //- +navMenu(menu)